.main-header {

}

.card-container {
  align-items: center;
  align-content: center;
  border-radius: 8px;
  border-color: transparent;
  box-shadow: 10px 10px 15px 4px rgba(0,0,0,0.2);
  margin: 16px 0;
  padding: 16px 24px;
  width: 100%;
  height: 300px;
  position: relative;
}

.card-data {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: nowrap;
  align-content: center;
}

.card-description {
  margin: 16px 0;
}

.card-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: absolute;
  right: 16px;
  bottom: 8px;
}

.avatar {
  border-radius: 50%;
  width: 100px;
  height: 120px;
}

.icon-button {
  border: none;
  background: transparent;
  font-size: 24px;
}

textarea {
  resize: none;
}

.modal.fade.show {
  background-color: rgba(0,0,0,0.5);
}

.modal.fade.show .modal-dialog {
  transition: transform .3s ease-out;
} 